# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. SQL

## **Objectives:**
- Python
- Java
- SQL

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Tensorflow
4. Numpy

## Data Science tools

| Data Science Tools |
|-------------|
| Rstudio|
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integer
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60.
(200)/6

33.333333333333336

## Author

G. Praveen kumar